@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

:root {
    --variable-yellow: #fcdb00;
    --variable-silver: #8b8a8b;
    --variable-black: #010101;
    --variable-white: #fcf8f8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    color: var(--variable-silver);
}

section {
    padding: 75px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
}

.slider,
.content,
.footer {
    min-height: 100%;
}

.header__menu a,
.header__social a {
    color: var(--variable-black);
    font-size: 24px;
}


.header {
    position: absolute;
    left: 0;
    right: 0;

}

.header .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .container>div {
    width: 30%;
}

.header__social a {
    margin-left: 15px;
    font-size: 24px;
}

.header__logo {
    text-align: center;
}

.header__social {
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

h2,
p {
    margin: 0 auto 20px;
    font-size: 27px;
    text-align: center;


}

h2 {
    margin: 0 auto 40px;
    font-size: 40px;
    color: var(--variable-black);
}

.content__container,
.footer__container p {
    width: 754px;
    height: 102px;
}

.slider {
    background-color: var(--variable-yellow);

}

.slider,
.content__container p {
    color: var(--variable-black);
}

.slider>.container {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.slider__item {
    max-width: 740px;
    text-align: center;
    padding: 15px 0;
}

.pictures {
    margin: 40px 0 130px;
}


.slider_navigation_items {

    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--variable-white);
    margin: 7px;
}

.slider_navigation {
    display: flex;
    list-style: none;
    position: absolute;
    bottom: 75px;

}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
}

.content p,
.footer_finish {
    font-size: 18px;
    margin: 20px auto 80px;
    line-height: 1em;

}

.content h2,
.content__container p {
    font-size: 27px;
}

.content__container {

    /* border: #76eff3 solid 5px; */
    flex-basis: 60%;
    justify-content: center;
    flex-wrap: nowrap;

}

.content__container__under {
    display: flex;
    justify-content: center;

}

.content__container__under1,
.content__container__under2,
.content__container__under3 {

    flex-basis: 30%;
    /* border: #e6a9b3 solid 5px; */
    flex-wrap: nowrap;
    align-content: space-between;
}

.container p {
    font-size: 18px;
}

.content__container p {
    color: var(--variable-black);
}


.footer {
    background-color: var(--variable-black);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.footer__container h2 {
    color: var(--variable-yellow);


}

.footer__container {
    border: white solid 2px;
    flex-basis: 70%;
    justify-content: center;
}

.footer_forms {
    flex-basis: 90%;
}

ul {

    /* border: #b6f094 solid 5px; */
    display: flex;
    flex-basis: 90%;
    flex-wrap: nowrap;

}

li {
    flex-grow: 2;
    flex-basis: 20%;
    list-style: none;
}

/* .first,
.two {
    flex-grow: 2;
    /* border: #b6f094 solid 5px; 
}  */





.footer_forms {

    margin: 0 auto;
    border: #fcdb00 solid 1px;
    text-align: center;

}


button {
    background-color: var(--variable-yellow);
    width: 174px;
    height: 50px;
    text-transform: uppercase;
    font-weight: 700;
}

input {
    width: 734px;
    height: 50px;
    margin: 0 auto 40px;
}